# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.bcf
*.run.xml
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi
*.ps
D*.pdf
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.ist
*-blx.bib
_minted-*/
auto/
.DS_Store
